html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

#sidebar {
    position: fixed;
    top: 0em;
    left: 0em;
    background-color: #444444;
    height: 100%;
    width: 250px;
    overflow: auto;
}

#sidebar-header {
    height: 75px;
    width: 230px;
    padding: 10px;
    background-color: #999999;
    border-bottom: 7px solid #c9c9c9;
    text-align: center;
}

#sidebar-header h1 {
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
}

#sidebar-header h2 {
    font-size: large;
    color: #dddddd;
    margin-top: 0;
}

#sidebar-main {
    width: 250px;
    padding: 0px;
    color: #c9c9c9;
}

ul {
    margin-bottom: 0.5em;
}

#sidebar-menu,
#sidebar-menu li ul {
    margin-bottom: 0;
}

#sidebar-menu li {
    line-height: 250%;
    color: #a3a3a3;
    margin-bottom: 0;
}

#sidebar-menu li ul li {
    line-height: 150%;
    color: #a3a3a3;
    margin: 0;
}

#sidebar-menu li a,
#sidebar-menu li a:visited {
    display: block;
    width: 100%;
    color: #a3a3a3;
    text-decoration: none;
    margin: 0;
}
#sidebar-menu li a:hover {
    color: #ffffff;
    text-decoration: underline;
    margin: 0;
}

#sidebar-menu li ul li a,
#sidebar-menu li ul li a:visited {
    display: block;
    width: 100%;
    color: #c9c9c9;
    text-decoration: none;
    margin: 0;
}
#sidebar-menu li ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    margin: 0;
}

#content-main {
    margin-left: 250px;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
}

.log {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    overflow: auto;
    border: 1px solid #c9c9c9;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 300px;
    clear: both;
    background-color: #e9e9e9;
}

.monospaced {
    font-family: "Courier New", Courier, monospace;
}

div.log {
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

iframe.log {
    width: 96%;
    padding: 0;
}

.text-below {
    margin-bottom: 0.5em;
}

.text-above {
    margin-top: 0.5em;
}

.below-caption {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

.above-caption {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
}

.left {
    text-align: left;
}

.space-below {
    padding-bottom: 0.5em;
    margin-bottom: 2.0em;
}

.list-caption {
    text-align: left;
    margin-bottom: 0;
}

.spec-table {
    padding: 1em;
    background-color: #e9e9e9;
    border: 1px solid #c9c9c9;
    width: 100%;
}

.spec-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: smaller;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.spec-left {
    width: 15em;
    font-size: smaller;
    padding: 0.5em;
}

.spec-right {
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    padding: 0.5em;
    word-wrap: break-word;
}

.pkg-table {
    padding: 1em;
    background-color: #e9e9e9;
    border: 1px solid #c9c9c9;
    font-size: smaller;
    width: 100%;
}

.pkg-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.pkg-column1,
.pkg-column2,
.pkg-column3,
.pkg-column4 {
    padding: 0.5em;
}

.pkg-column1 { width: 20%; }
.pkg-column2 { width: 50%; }
.pkg-column3 { width: 15%; }
.pkg-column4 { width: 15%; }

.input-table {
    table-layout: fixed;
    padding: 1em;
    background-color: #e9e9e9;
    border: 1px solid #c9c9c9;
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.input-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.input-column1 { width: 12%; }
.input-column2 { width: 12%; }
.input-column3 { width: 40%; }
.input-column4 { width: 12%; }
.input-column5 { width: 24%; }

.oneline-overflow {
    white-space: nowrap;
    overflow-x: auto;
    overflow: auto;
}

.summary-table {
    padding: 1em;
    background-color: #e9e9e9;
    border: 1px solid #c9c9c9;
    width: 100%;
}

.summary-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: smaller;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.summary-left {
    width: 40%;
    font-size: smaller;
    padding: 0.5em;
}

.summary-1col {
    width: 60%;
}

.summary-2col {
    width: 30%;
}

.summary-3col {
    width: 20%;
}

.summary-4col {
    width: 15%;
}

.summary-5col {
    width: 12%
}

.summary-success {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: #b2d3c2;
    padding: 0.5em;
}
.summary-ignore {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: #fffdd0;
    padding: 0.5em;
}

.summary-fail {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: #bc544b;
    padding: 0.5em;
}

.summary-success a,
.summary-ignore a,
.summary-fail a {
    text-decoration: none;
}

.rds-table {
    table-layout: fixed;
    padding: 1em;
    background-color: #e9e9e9;
    border: 1px solid #c9c9c9;
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.rds-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-top: 0em;
    padding-bottom: 0.5em;
}

.rds-column1 { width: 20%; }
.rds-column2 { width: 20%; }
.rds-column3 { width: 10%; }
.rds-column4 { width: 10%; }
.rds-column5 { width: 10%; }
.rds-column6 { width: 10%; }
.rds-column7 { width: 10%; }
.rds-column8 { width: 10%; }

.center {
    text-align: center;
}
