# Path to install libraries to (e.g. ./libs-r)
lib_dir="./libs-r"

# Path to environment libraries (e.g. ./libs-cran)
cran_dir="./libs-cran"

# Path to store source files (e.g. ./src, ./src/cran, ./src/github)
src_dir="./src"
src_cran_dir="./src/cran"
src_github_dir="./src/github"

# Path to store build tarballs (e.g. ./build, ./build/check)
build_dir="./build"
build_check_dir="./build/check"

# Path to html logs (e.g. ./log)
html_dir="./log"

# Path to store raw logs (e.g. ./log/raw)
log_dir="./log/raw"

# Path to directories containing check info (e.g. ./check)
check_dir="./check"

# External repo (e.g. http://cran.r-project.org)
external_repo="http://cran.r-project.org"
