# Path to install libraries to (e.g. ./libs-r)
lib_dir="./layer1/lib"

# Path to export for R_LIBS_USER (e.g. /home/user/libs:/home/user/libs2)
r_libs_user="./layer3/lib:./layer2/lib:./layer1/lib"

# Path to store source files (e.g. ./src)
src_dir="./layer1/src"

# Path to store build tarballs and check metadata (e.g. ./build, ./build/check)
build_dir="./layer1/artifactory"
build_check_dir="./layer1/artifactory/check"

# Path to directories containing check info (e.g. ./check)
check_dir="./layer1/artifactory/check"

# Path to store raw logs (e.g. ./build/log)
log_dir="./layer1/artifactory/log"

# Path to html logs (e.g. ./layer1_log)
html_dir="./layer1/log"

# Path to HTML template for logs (e.g. ./bin/html_generator/template)
html_template="./bin/html_generator/template"

# External repo (e.g. http://cran.r-project.org)
external_repo="http://cran.r-project.org"

